@font-face{
    font-family:'FontAwesome';
    src: url('./fontawesome-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style:normal}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'FontAwesome';
}
.top{
    background-color: darkred;
    width: 100%;
    /* padding: 0 25px; */
    cursor: auto;
    user-select: none;
}
.top a{
    color: white;
    text-decoration: none;
}
.link{
    display: inline-block;
    font-size: 30px;
    padding: 10px 15px;
    transition: color 0.5s, background-color 0.5s;
    /* padding: 10px 15px; */
    /* height: 55px; */
    /* line-height: 55px; */
}
.pustoy{
    width: 25px;
    display: inline-block;
}
.link:hover{
    background-color: white;
    color: black;
}
.capital_block1{
    height: 100vh;
    background-image: url(../img/ФИМЛИ.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.capital_text{
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    margin-top: 300px;
}